.DS_Store
**/.DS_Store
volumes
InterSystems/storage/IRIS
data/LabResult/pdf
**/IRIS.DAT
**/iris.lck
**/*.docx
# Ignore all python bytecode files
**/*.pyc
**/*.pyo
# Ignore .int, *.mac from objectscript
**/*.int
**/*.mac

