<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
  <Document name="hl7v2-to-kafka.ZPM">
    <Module>
      <Name>hl7v2-to-kafka</Name>
      <Description>A simple IRIS interoperability application - transform HL7v2 SIU and send it to Kafka</Description>
      <Version>2.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="data.PKG"/>
      <Resource Name="HL7v2toKafka.PKG"/>
      <Resource Name="msg.PKG"/>
      <Resource Name="HTTP.PKG"/>
      <Resource Name="SQLConnection.GBL"/>
      <Resource Name="DefaultSettings.GBL"/>
      <Resource Name="LookupTable.GBL"/>
      <Invoke Class="%SYSTEM.OBJ" Method="Delete" >
         <Arg>IRISAPPPKG.FoundationProduction.cls</Arg>
      </Invoke>
      <Invoke Class="Ens.Director" Method="SetAutoStart" >
         <Arg>HL7v2toKafka.production</Arg>
         <Arg>0</Arg>
      </Invoke>
      <Invoke Class="HL7v2toKafka.utils" Method="createSQLGateway" >
      </Invoke>
    </Module>
  </Document>
</Export>