<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
  <Document name="IRISHealth.ZPM">
    <Module>
      <Name>IRISHealth</Name>
      <Description>IRISHealth demo</Description>
      <Version>2.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="data.PKG"/>
      <Resource Name="IRISHealth.PKG"/>
      <Resource Name="msg.PKG"/>
      <Resource Name="HTTP.PKG"/>
      <Resource Name="SQLConnection.GBL"/>
      <Resource Name="settings.GBL"/>
      <Resource Name="LookupTable.GBL"/>
      <Invoke Class="%SYSTEM.OBJ" Method="Delete" >
         <Arg>IRISAPPPKG.FoundationProduction.cls</Arg>
      </Invoke>
      <Invoke Class="Ens.Director" Method="SetAutoStart" >
         <Arg>IRISHealth.production</Arg>
         <Arg>0</Arg>
      </Invoke>
      <Invoke Class="IRISHealth.utils" Method="createSQLGateway" >
      </Invoke>
      <Invoke Class="fhirtemplate.Setup" Method="SetupFHIRServer" Phase="Activate" When="After" >
        <Arg>IRISAPP</Arg>
      </Invoke>
      <Resource Name="fhirtemplate.PKG"/>
      <Resource Name="User.PKG"/>
      <Resource Name="FHIR.PKG"/>
      <FileCopy Name="data/fhir/" Target="${mgrdir}test-data-fhir/"/>
        <CSPApplication
          Url="/fhirUI"
          SourcePath="/fhirUI"
          DeployPath="{$cspdir}/fhirUI"
          ServeFiles="1"
          Recurse="1"
          CookiePath="/fhirUI"
        />
    </Module>
  </Document>
</Export>