dataclass_csv
numpy
pandas
# fhirpy
# fhir.resources
geopy
# chronyk
requests
# mysql.connector
folium
openpyxl
# names
postgres
matplotlib
random-address
phone-gen
sqlalchemy-iris
holidays
flask
gunicorn
# jupyter
iris-pex-embedded-python>=3.0.0
hl7apy>=1.0.0
jsonpath-ng>=1.5.2
pytest
